<!-- Loading -->
<div id="preloader" *ngIf="!isLoaded">
  <div id="loader"></div>
</div>
<div *ngIf="!isLoaded" class="content-load">
  <p class="text-center"><small class="text-muted">Cargando...</small></p>
</div>

<!-- Content -->
<div *ngIf="isLoaded" class="animated fadeInUp">

  <!-- Header -->
  <div class="row">
      <div class="header-section">
        <img src="../../assets/img/workshop-header.png" alt="">
      </div>
  </div>

  <!-- subheader -->
  <div class="row p-3 mt-3 pl-5 pr-5">
    <div class="col-md-1-12">
      <!-- <hr class="my-4"> -->
      <p class="text-center">
        ¿Te has dado cuenta de que cuando buscas información sobre algún tema los resultados pueden ser muy distintos en función de dónde lo busques? ¿Consultas páginas fiables?¿Estás segura de que esa información está actualizada según la última evidencia científica?
      </p>
      <p class="text-center">
        En Santamaría estamos muy orgullosas de nuestros talleres. Porque hemos podido “concentrar” toda la información que te interesa para que no tengas que estar buscando más. Ahorrándote tiempo, dinero y algún que otro disgusto y, lo que es más importante, recibirás información de fuentes fiables y actualizadas.
      </p>
      <p class="text-center">
        De hecho nuestros talleres no son estáticos, sino que van siendo modificados en función de las ultimas evidencias.
      </p>
    </div>
  </div>

  <hr class="separator separator--dots" />

  <!-- Active workshops -->
  <div class="pr-3">
    <p class="font-weight-normal text-right">Mostrando {{workshops.length}} talleres activos</p>
  </div>
  <hr>

  <!-- Workshops -->
  <div *ngFor="let workshop of workshops" class="content-workshop">
    <div class="card shadow p-3 bg-white rounded">
      <div class="row no-gutters">
        <div class="col-md-4 align-self-center">
          <img [src]="path+workshop.image" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="row ml-1">
              <div>
                <h5 class="card-title cssm-cursor cssm-card-title" (click)="onWorkshopDetail(workshop.id)">{{workshop.title}}</h5>
              </div>
              <div class="workshop-price">
                Precio: {{(workshop.price==0 || workshop.price==null)? 'Consultar':(workshop.price)+'€'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 pl-0">
                <p class="card-text">
                  <small *ngIf="workshop.new_workshop==1" class="text-muted">
                    <span class="workshop-badge-new">
                      <span data-purpose="badge" class="badge badge-accented green">
                        <span class="badge-text">Nuevo</span>
                      </span>
                    </span>
                  </small>
                  <small *ngIf="workshop.session_date" class="text-muted">
                    {{workshop.session_date | date}} | {{workshop.session_start | timeWithoutSec}} - {{workshop.session_end | timeWithoutSec}}
                  </small>
                  <small *ngIf="!workshop.session_date" class="text-muted">
                    Consultar
                  </small>
                </p>
              </div>
              <div class="col-md-4 pl-0">
                <p class="card-text">
                  <small class="text-muted">
                    Taller de {{(workshop.hours == null)? (0)+' horas':(workshop.hours==1)? (workshop.hours)+' hora':(workshop.hours)+' horas'}}
                  </small>
                </p>
              </div>
              <div class="col-md-3 align-self-center pl-0">
                <div class="progress">
                  <div *ngIf="workshop.free_places!=0" class="progress-bar" title="Plazas libres: {{workshop.free_places}}/{{workshop.places}}"
                  [style.width]="(workshop.free_places/workshop.places)*100+'%'"></div>
                  <div *ngIf="workshop.free_places==0" class="progress-bar pb-danger"
                  style="width: 100%;">Completo</div>
                </div>
              </div>
            </div>
            <p class="card-text">
              {{(workshop.short_description.length>350)? (workshop.short_description | slice:0:350)+'...':(workshop.short_description)}}
            </p>
            <div class="row">
              <div class="col-md-3 pl-0">
                <p class="card-text">
                  <small class="text-muted">
                    Impartido por: {{workshop.impart}}
                  </small>
                </p>
              </div>
              <div class="col-md-5 pl-0">
                <p class="card-text">
                  <small class="text-muted">
                    Lugar: {{workshop.address}}
                  </small>
                </p>
              </div>
              <div class="col-md-4">
                <button (click)="onInscription()" class="workshop-btn float-right">
                    Inscribirse
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="workshops.length == 0" class="row text-center m-5">
    <div class="col">
      No tenemos talleres en estos momentos. Disculpen las molestias.
    </div>
  </div>
</div>
