<!--Grid row-->
<div class="row">
  <!--Grid column-->
  <div class="col-md-6 mb-4">
    <!-- Card -->
    <div class="card gradient-card">
        <!-- <div class="card-image" style="background-image: url(../../../assets/img/massagePrenatal.jpg)"> -->
        <div class="card-title-bg">
          <!-- Content -->
            <div class="text-white d-flex h-100 mask blue-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">ALIMENTACIÓN DURANTE EL EMBARAZO</h3>
                <p class="lead mb-0">Aprenderás cómo alimentarte.</p>
              </div>
              <div class="second-content align-self-center mx-auto text-center">
                Precio: 00.0 €
              </div>
            </div>

        </div>

        <!-- Data -->
        <!-- <div class="third-content ml-auto mr-4 mb-2">
          <p class="text-uppercase text-muted">Today's sale</p>
          <h4 class="font-weight-bold float-right">2000$</h4>
        </div> -->

        <!-- Content -->
        <div class="card-body">
          <nav>
            <div class="nav nav-tabs md-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-desc-tab" data-toggle="tab" href="#nav-desc" role="tab"
                aria-controls="nav-home" aria-selected="true">Descripción</a>
              <a class="nav-item nav-link" id="nav-location-tab" data-toggle="tab" href="#nav-location" role="tab"
                aria-controls="nav-home" aria-selected="true">Ubicación</a>
              <a class="nav-item nav-link" id="nav-sessions-tab" data-toggle="tab" href="#nav-sessions" role="tab"
                aria-controls="nav-profile" aria-selected="false">Sesiones</a>
              <a class="nav-item nav-link" id="nav-timer-tab" data-toggle="tab" href="#nav-timer" role="tab"
                aria-controls="nav-contact" aria-selected="false">Horarios</a>
            </div>
          </nav>
          <div class="tab-content pt-5" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
                <p>¿Sabes lo que debes evitar comer para no contraer enfermedades que pueden ser perjudiciales para tu bebé?
                  ¿Es verdad que hay que evitar comer jamón? ¿Y atún? ¿Y si eres vegetariana?</p>
                  <p>Desde que sabes que estás embarazada quieres hacer lo mejor para tu bebé,
                  por eso hemos creado para ti este taller, donde aprenderás cómo alimentarte
                  en esta etapa tan importante.</p> <p>¿Te apuntas?</p>
            </div>
            <div class="tab-pane fade" id="nav-location" role="tabpanel" aria-labelledby="nav-location-tab">
              <p>Location</p>
            </div>
            <div class="tab-pane fade" id="nav-sessions" role="tabpanel" aria-labelledby="nav-sessions-tab">
              <p>sesiones</p>
            </div>
            <div class="tab-pane fade" id="nav-timer" role="tabpanel" aria-labelledby="nav-timer-tab">
              <div class="row">
                <div class="col-md-2 cssm-icon-color">
                  <i class="far fa-calendar-alt fa-5x" aria-hidden="true"></i>
                </div>
                <div class="col-md-10 mt-3">
                  <p>Fecha: 25 de Noviembre de 2019</p>
                  <p>Hora: 17:30 a 19:30</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <a href="#">
        <div class="card-footer cssm-bg-footer text-center">
          <div class="cssm-card-footer-text">
            <img src="../../../assets/img/logoIcon.png" width="50px" alt="">INSCRIBIRSE
          </div>
        </div>
        </a>
    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image" style="background-image: url(../../../assets/img/blw.jpg);">

          <!-- Content -->
            <div class="text-white d-flex h-100 mask purple-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">FISIOTERAPIA GENERAL, EMBARAZO Y SUELO PÉLVICO</h3>
                <p class="lead mb-0">Taller orientado a otros.</p>
              </div>
              <div class="second-content  align-self-center mx-auto text-center">
                Precio: 80 €
              </div>
            </div>

        </div>

        <!-- Data -->
        <!-- <div class="third-content  ml-auto mr-4 mb-2">
          <p class="text-uppercase text-muted">Precio</p>
          <h4 class="font-weight-bold float-right">80 €</h4>
        </div> -->

        <!-- Content -->
        <div class="card-body white">
          <!-- <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vel dolores qui, necessitatibus aut eaque magni mollitia tenetur molestiae sit quae quos quaerat amet exercitationem atque animi odio.</p> -->
          <nav>
            <div class="nav nav-tabs md-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Ubicación</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Sesiones</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Horarios</a>
            </div>
          </nav>
    <div class="tab-content pt-5" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <p>Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat
          veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non
          irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim
          occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
          Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit
          occaecat anim ullamco ad duis occaecat ex.</p>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <p>Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. Magna
          duis labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris
          fugiat cupidatat. Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet
          aliquip ipsum aute laboris nisi. Labore labore veniam irure irure ipsum pariatur mollit magna in
          cupidatat dolore magna irure esse tempor ad mollit. Dolore commodo nulla minim amet ipsum officia
          consectetur amet ullamco voluptate nisi commodo ea sit eu.</p>
      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <p>Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do. Eu
          ex commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat. Deserunt
          officia id Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud
          tempor. Fugiat ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim.
          Consequat aliquip incididunt ipsum et minim laborum laborum laborum et cillum labore. Deserunt
          adipisicing cillum id nulla minim nostrud labore eiusmod et amet. Laboris consequat consequat commodo non
          ut non aliquip reprehenderit nulla anim occaecat. Sunt sit ullamco reprehenderit irure ea ullamco Lorem
          aute nostrud magna.</p>
      </div>
    </div>
        </div>

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

          <!-- Content -->
          <a href="#!">
            <div class="text-white d-flex h-100 mask peach-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">Traffic</h3>
                <p class="lead mb-0">Click on this card to see details</p>
              </div>
              <div class="second-content  align-self-center mx-auto text-center">
                <i class="fas fa-chart-pie fa-3x"></i>
              </div>
            </div>
          </a>

        </div>

        <!-- Data -->
        <div class="third-content  ml-auto mr-4 mb-2">
          <p class="text-uppercase text-muted">Traffic</p>
          <h4 class="font-weight-bold float-right">20000</h4>
        </div>

        <!-- Content -->
        <div class="card-body white animated">
          <div class="progress md-progress">
            <div class="progress-bar amber darken-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="text-muted">Worse than last week (75%)</p>
          <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vel dolores qui, necessitatibus aut eaque magni mollitia tenetur molestiae sit quae quos quaerat amet exercitationem atque animi odio.</p>
        </div>

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-6 mb-4">

    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

          <!-- Content -->
          <a href="#!">
            <div class="text-white d-flex h-100 mask aqua-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">Organic traffic</h3>
                <p class="lead mb-0">Click on this card to see details</p>
              </div>
              <div class="second-content  align-self-center mx-auto text-center">
                <i class="fas fa-chart-line fa-3x"></i>
              </div>
            </div>
          </a>

        </div>

        <!-- Data -->
        <div class="third-content  ml-auto mr-4 mb-2">
          <p class="text-uppercase text-muted">Organic traffic</p>
          <h4 class="font-weight-bold float-right">2000</h4>
        </div>

        <!-- Content -->
        <div class="card-body white">
          <div class="progress md-progress">
            <div class="progress-bar cyan lighten-1" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="text-muted">Better than last week (50%)</p>
          <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
          <p class="text-muted" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vel dolores qui, necessitatibus aut eaque magni mollitia tenetur molestiae sit quae quos quaerat amet exercitationem atque animi odio.</p>
        </div>

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

</div>
<!--Grid row-->
