<!-- Loading -->
<div id="preloader" *ngIf="!isLoaded">
  <div id="loader"></div>
</div>
<div *ngIf="!isLoaded" class="content-load">
  <p class="text-center"><small class="text-muted">{{globalCnstns.K_LOADING_STR}}</small></p>
  <p class="text-center aboutus-load-space">...</p>
</div>

<!-- Content -->
<div *ngIf="isLoaded" class="animated fadeInUp">
  <!-- Header -->
  <div class="header-section">
    <img [src]="assetsImg+'aboutus-header.png'" alt="">
  </div>

  <!-- History -->
  <div class="row pt-5 pb-5 ml-5 mr-5">
    <div class="col-md-6 mt-2 mb-2 text-center">
      <img [src]="assetsImg+'logo.png'" alt="" class="imagecorp">
    </div>
    <div class="col-md-6 mb-2 aboutus-separator">
      <p>{{globalCnstns.K_ABOUT_US_HISTORY_ONE}}</p>
      <p>{{globalCnstns.K_ABOUT_US_HISTORY_TWO}}</p>
      <p>{{globalCnstns.K_ABOUT_US_HISTORY_THREE}}</p>
      <p>{{globalCnstns.K_ABOUT_US_HISTORY_FOUR}}</p>
    </div>
  </div>
  <!-- Team -->
  <div class="aboutus-team-boxed">
      <div class="container">
        <h1 class="aboutus-section-title pt-3">{{globalCnstns.K_ABOUT_US_SECTION_TITLE}}</h1>
        <hr class="my-4">
          <div class="row people">
              <div *ngFor="let aboutus of aboutusList" class="col-md-6 col-lg-4 item">
                  <div class="box"><img class="rounded-circle" [src]="path+aboutus.image">
                      <h5 class="aboutus-card-title name">{{aboutus.name}} {{aboutus.surname1}}</h5>
                      <p class="aboutus-card-subtitle">{{aboutus.position}}</p>
                      <p class="aboutus-card-description">
                        {{(aboutus.description.length>350)? (aboutus.description | slice:0:350)+'...':(aboutus.description)}}
                      </p>
                      <div class="social">
                        <a [href]="aboutus.user_fcbk" *ngIf="aboutus.user_fcbk" title="Facebook" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a [href]="aboutus.user_ytube" *ngIf="aboutus.user_ytube" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a [href]="aboutus.user_insta" *ngIf="aboutus.user_insta" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
