/* About Us CSS Style */

.header-section img {
  width: 100%;
}

.content-load p {
  color: #0095A6;
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  font-weight: bold;
  line-height: 1.2;
}

.imagecorp {
  width: 100%;
}

@media (min-width: 1150px) {
  .imagecorp {
    width: 50%;
  }
}

.aboutus-load-space {
  margin-top: 1000px;
}

.aboutus-separator {
  border-left-style: groove;
}

.aboutus-card-title {
  color: #fff;
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  font-weight: 400;
  font-weight: bold;
  line-height: 1.2;
}

.aboutus-card-subtitle {
  color: #ADD5DD;
  font-weight: bold;
  line-height: 1.2;
}

.aboutus-card-description {
  color: #f1f1f1;
}

.aboutus-section-title {
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  color: #0e94a0;
}

.aboutus-team-boxed {
  color:#313437;
  background-color:#f1f1f1;
}

.aboutus-team-boxed .people {
  padding:50px 0;
}

.aboutus-team-boxed .item {
  text-align:center;
}

.aboutus-team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#04c1c3;
  margin-bottom:30px;
}

.aboutus-team-boxed .item .name {
  margin-top:28px;
  margin-bottom:8px;
}

.aboutus-team-boxed .item img {
  max-width:160px;
}

.aboutus-team-boxed .social {
  font-size:18px;
  color:#fff;
}

.aboutus-team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.aboutus-team-boxed .social a:hover {
  opacity:1;
}
