<!-- Loading -->
<div id="preloader" *ngIf="!isLoaded">
  <div id="loader"></div>
</div>

<!-- Content -->
<section class="opinion-section text-center my-5">
  <!--Grid-->
  <div class="row text-center">
    <div *ngFor="let opinion of opnInHome | slice:0:3; let i=index" [class]="classColumn">
      <div class="opinion">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img [src]="path+opinion.image" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold mt-4 opinion-header-text">{{opinion.name}}</h4>
        <div class="font-weight-normal">
          <span [innerHTML]="(opinion.commentary.length>250)? (opinion.commentary | slice:0:250)+'...':(opinion.commentary)"></span>
        </div>
        <p *ngIf="opinion.commentary.length>250" class="font-weight-normal">
          <a class="opinion-lnks-plus" [routerLink]="" (click)="openComment(opinion.name, opinion.commentary)">Leer más</a>
        </p>
        <!--Review-->
        <div class="star-text">
          <span *ngFor='let in of counter(opinion.rating);let i = index'>
            <i class="fas fa-star"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Commentary -->
  <div #userComment id="userComm"></div>
    <div *ngIf="testContent" [class]="classComment">
      <div class="col-sm-11">
        <div class="ck-content font-weight-normal" [innerHTML]="testContent | safe: 'html'"></div>
      </div>
      <div class="col-sm-1">
        <a class="opinion-lnks-plus" title="Ocultar" [routerLink]="" (click)="onCloseComment()">X</a>
      </div>
    </div>
</section>
