<!-- Slider -->
<div class="carousel slide animated fadeInUp" id="slider" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="background-image: url('../../assets/img/slider1.jpg')">
      <div class="carousel-caption d-md-block">
          <h2 class="display-4" style="color: #638699;">Masaje prenatal</h2>
          <p class="lead" style="color: #638699;">Masajes especializados en minimizar las molestias comunes de gestación.</p>
        </div>
    </div>
    <div class="carousel-item" style="background-image: url('../../assets/img/blw.jpg')">
      <div class="carousel-caption d-md-block">
          <h2 class="display-4">Método BLW</h2>
          <p class="lead">El método BLW/BLISS que ha revolucionado la alimentación infantil.</p>
        </div>
    </div>
    <div class="carousel-item" style="background-image: url('../../assets/img/classPrenatal.png')">
      <div class="carousel-caption d-md-block">
          <h2 class="display-4">Talleres</h2>
          <p class="lead">Apuntate a nuestros talleres. Plazas limitadas.</p>
        </div>
    </div>
  </div>
</div>
<!-- End Slider -->
<!-- Blq0 Welcome -->
<div class="row padding" >
  <div class="col-sm-12 col-md-6 col-lg-5">
    <h1 class="cssm-display-5">¡Bienvenida!</h1>
    <hr class="my-6">
    <p>Nulla dapibus porta quam, vel placerat diam mollis quis. Aenean et tempus nibh, non imperdiet magna. Donec vel convallis sem. Nunc ligula risus, congue et diam vitae, cursus ultricies quam. Nunc lobortis aliquet dui non ullamcorper. Nunc varius vehicula arcu, ac egestas tortor convallis sollicitudin. Donec aliquam erat sed nisl ultrices consectetur. Morbi sed ex sit amet leo rhoncus rhoncus. Proin volutpat, nibh non dapibus bibendum, mauris lorem fringilla justo, placerat aliquam nunc nisi ut turpis.</p>
    <p>Integer dapibus vestibulum nisi, non sodales libero semper a. Cras id dolor ipsum. Cras tincidunt pellentesque dapibus. Nullam eget consectetur purus, ut semper erat. Phasellus vel convallis nisi. Mauris at enim eleifend, elementum tellus eget, porta augue. Maecenas quis interdum arcu, sit amet congue velit.</p>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-7">
    <img src="../../assets/img/slider1.jpg" alt="" class="rounded-lg cssm-img-full">
  </div>
</div>
  <!-- End Blq0 Welcome -->
<!-- Blq1 Services -->
<div class="jumbotron animated fadeInUp">
  <h1 class="cssm-display-5">Servicios</h1>
  <p class="cssm-lead text-center">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
  <hr class="my-4">
  <section id="team" class="pb-5">
      <div class="container">
          <div class="row">
              <!-- Card 1 -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                      <h4 class="card-title">Matrona</h4>
                                      <p class="card-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Matrona</h4>
                                      <p class="card-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Card 1 -->
              <!-- Card 2 -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                      <h4 class="card-title">Dietista-Nutricionista</h4>
                                      <p class="card-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Dietista-Nutricionista</h4>
                                      <p class="card-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Card 2 -->
              <!-- Card 3 -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image"></p>
                                      <h4 class="card-title">Fisioterapia</h4>
                                      <p class="card-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Fisioterapia</h4>
                                      <p class="card-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Card 3 -->
          </div>
      </div>
  </section>
</div>
<!-- End Blq1 Services -->
<!-- Blq 2 Event -->
<h1 class="cssm-display-5">Talleres</h1>
<p class="cssm-lead text-center">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
<div class="row padding">
  <div class="col-sm-12 col-md-6">
    <img src="../../assets/img/slider1.jpg" alt="" class="rounded-lg cssm-img-full">
  </div>
  <div class="col-sm-12 col-md-6">
    <img src="../../assets/img/slider1.jpg" alt="" class="rounded-lg cssm-img-full">
  </div>
</div>
<!-- End Blq2 Event -->
<div class="jumbotron animated fadeInUp">
  <h1 class="cssm-display-5">Sección</h1>
  <p class="cssm-lead text-center">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
  <hr class="my-4">

</div>
