/* Home CSS Style */

p {
  color: #638699;
  font-family: 'Handlee', cursive;
  font-weight: bold;
}

.content-load p {
  color: #0095A6;
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  font-weight: bold;
  line-height: 1.2;
}

.home-load-space {
  margin-top: 1000px;
}

.home-background-card {
  background-color: #5fbcb1;
}

.home-background-footer-card {
  background-color: #0e94a0;
}

.home-background-card-center {
  background-color: #0e94a0;
  background-image: url(src\assets\img\fruta.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.home-lnks-card-center {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.home-lead {
  font-size: 1.00rem;
  font-weight: 300;
  color: #638699;
  font-weight: bold;
}

.home-display-5 {
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  color: #0e94a0;
}

.home-colorWhite {
  color: #ffffff;
}

.home-bb-image {
  background-repeat: no-repeat;
  background-size: contain;
}

.home-testimonials-image {
  background-repeat: no-repeat;
  background-size: contain;
}

.home-fruit-image {
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .home-bb-image {
    background-image: url(src\assets\img\bebe.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .home-testimonials-image {
    background-image: url(src\assets\img\testimonios.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .home-fruit-image {
    background-image: url(src\assets\img\fruta.png);
    backgrouhome-lead: no-repeat;
    background-size: auto;
    background-position: right;
    background-position-y: inherit;
  }
}

.home-service .serv-picture {
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.home-service .serv-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.home-service .serv-details .name {
  font-size: 0.9rem;
  font-weight: 800;
  color: #0e94a0;
}
