<!-- Slider -->
<div class="carousel slide animated fadeInUp" id="slider" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/LAaSoL0LrYs/1920x1080')">
      <div class="carousel-caption d-md-block">
          <h2 class="display-4">Texto principal</h2>
          <p class="lead">Descripción del primer slider.</p>
        </div>
    </div>
    <div class="carousel-item" style="background-image: url('../../assets/img/slider.jpg')">
      <div class="carousel-caption d-md-block">
          <h2 class="display-4">Second Slide</h2>
          <p class="lead">This is a description for the second slide.</p>
        </div>
    </div>
    <div class="carousel-item" style="background-image: url('../../assets/img/slider.jpg')">
      <div class="carousel-caption d-md-block">
          <h2 class="display-4">Third Slide</h2>
          <p class="lead">This is a description for the third slide.</p>
        </div>
    </div>
  </div>
</div>
<!-- End Slider -->
<div class="jumbotron animated fadeInUp">
  <h1 class="display-5">Hola, bienvenida!</h1>
  <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque at dui at metus commodo sodales. Donec eu auctor eros, a placerat tellus. Sed semper nunc blandit, sollicitudin urna a, suscipit tellus.
  Maecenas molestie lectus eu risus vestibulum euismod. In auctor ex quam, ac rhoncus nulla sagittis non.</p>
  <hr class="my-4">
  <p style="text-align:center;">Fusce venenatis, nunc vitae aliquet congue, velit nunc condimentum ligula, id molestie odio odio vitae quam.</p>
</div>
<div class="jumbotron animated fadeInUp">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div class="jumbotron animated fadeInUp">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
