<!-- Loading -->
<div id="preloader" *ngIf="!isLoaded">
  <div id="loader"></div>
</div>
<div *ngIf="!isLoaded" class="content-load">
  <p class="text-center"><small class="text-muted">Cargando...</small></p>
</div>

<!-- Content -->
<div *ngIf="isLoaded"  class="animated fadeInUp">
  <!-- Header -->
  <div class="row">
      <div class="header-section">
        <h1 class="title-display-5 mt-5 mb-5">{{workshop.title}}</h1>
      </div>
  </div>
  <!-- Section back -->
  <div class="row section-back pl-3 mt-3">
    <div class="col-md-2 text-left">
      <a [routerLink]="['/talleres']" class="font-weight-normal">
        <i class="fas fa-arrow-left"></i> Volver a talleres
      </a>
    </div>
    <div class="col-md-10 text-right">
      <i class="fas fa-euro-sign icon-color" title="Precio"></i>
      <small class="text-muted mr-1">
        {{(workshop.price==0 || workshop.price==null)? 'Consultar':(workshop.price)}}
      </small>
      |
      <i class="far fa-calendar-alt icon-color ml-1" title="Fecha"></i>
      <small class="text-muted mr-1">
        {{(workshop.session_date == noDate)? 'Consultar':workshop.session_date | date}}
      </small>
       |
       <i class="far fa-clock icon-color ml-1" title="Horario"></i>
       <small class="text-muted mr-1">
         {{workshop.session_start | timeWithoutSec}} a {{workshop.session_end | timeWithoutSec}}
       </small>
       |
       <i class="fas fa-graduation-cap icon-color ml-1" title="Duración"></i>
       <small class="text-muted mr-1">
         Taller de {{(workshop.hours == null)? (0)+' horas':(workshop.hours==1)? (workshop.hours)+' hora':(workshop.hours)+' horas'}}
       </small>
       |
       <i class="fas fa-map-marker-alt icon-color ml-1" title="Ubicación"></i>
       <small class="text-muted mr-1">
         {{workshop.address}}
       </small>
       |
       <i class="fas fa-chalkboard-teacher icon-color ml-1" title="Impartido"></i>
       <small class="text-muted mr-1">
         {{workshop.impart}}
       </small>
       |
       <i class="fas fa-chair icon-color ml-1" title="Plazas"></i>
       <small *ngIf="workshop.free_places!=0" class="text-muted mr-1">
         {{(workshop.free_places == null)? (0):(workshop.free_places)}} Plazas libres
       </small>
       <small *ngIf="workshop.free_places==0" class="text-muted mr-1">
         Completo
       </small>
    </div>
  </div>
  <hr>
  <div class="ck-content m-5" [innerHTML]="workshop.description | safe: 'html'"></div>
  <hr>
  <div class="row justify-content-center">
      <button (click)="onInscription()" class="workshop-btn m-3">
          Inscribirse
      </button>
  </div>

</div>
