<!-- Loading -->
<div id="preloader" *ngIf="!isLoaded">
  <div id="loader"></div>
</div>
<div *ngIf="!isLoaded" class="content-load">
  <p class="text-center"><small class="text-muted">{{globalCnstns.K_LOADING_STR}}</small></p>
  <p class="text-center courses-load-space">...</p>
</div>

<!-- Content -->
<div *ngIf="isLoaded" class="animated fadeInUp">
  <!-- Header -->
  <div class="header-section">
    <img [src]="assetsImg+'courses-header.png'" alt="">
  </div>

  <!-- Active courses -->
  <div class="pr-3 mt-3">
    <p class="font-weight-normal text-right">Mostrando {{courses.length}} cursos activos</p>
  </div>
  <hr>

  <!-- Courses -->
  <div *ngFor="let course of courses" class="content-courses">
    <div class="card shadow p-3 bg-white rounded">
      <div class="row no-gutters">
        <div class="col-md-4 align-self-center">
          <img [src]="path+course.image" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="row ml-1">
              <div>
                <h5 class="card-title pointer-cursor courses-card-title" (click)="onCourseDetail(course.id)">{{course.title}}</h5>
              </div>
              <div class="courses-price">
                {{globalCnstns.K_COURSE_PRICE_STR}} {{(course.price==0 || course.price==null)? 'Consultar':(course.price)+'€'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 pl-0">
                <p class="card-text">
                  <small *ngIf="course.new_course==1" class="text-muted">
                    <span class="courses-badge-new">
                      <span data-purpose="badge" class="badge badge-accented green">
                        <span class="badge-text">{{globalCnstns.K_COURSE_NEW_STR}}</span>
                      </span>
                    </span>
                  </small>
                  <small *ngIf="course.offer==1" class="text-muted">
                    <span class="courses-badge-new">
                      <span data-purpose="badge" class="badge badge-accented orange">
                        <span class="badge-text">{{globalCnstns.K_COURSE_OFFER_STR}}</span>
                      </span>
                    </span>
                  </small>
                  <small *ngIf="course.session_date" class="text-muted">
                    {{globalCnstns.K_COURSE_DATE_STR}} {{(course.session_date == noDate)? 'Consultar':course.session_date | date}} | {{course.session_start | timeWithoutSec}} a {{course.session_end | timeWithoutSec}}
                  </small>
                  <small *ngIf="!course.session_date" class="text-muted">
                    {{globalCnstns.K_COURSE_QUERY_STR}}
                  </small>
                </p>
              </div>
              <div class="col-md-4 pl-0">
                <p class="card-text">
                  <small class="text-muted">
                    {{(course.sessions==null)?(0)+' Clases':(course.sessions==1)? (course.sessions)+' Clase':(course.sessions)+' Clases'}} ·
                    {{(course.hours==null)?(0)+' Horas':(course.hours==1)? (course.hours)+' Hora':(course.hours)+' Horas'}}
                  </small>
                </p>
              </div>
              <div class="col-md-3 align-self-center pl-0">
                <div class="progress">
                  <div *ngIf="course.free_places!=0" class="progress-bar" title="Plazas libres: {{course.free_places}}/{{course.places}}"
                  [style.width]="(course.free_places/course.places)*100+'%'"></div>
                  <div *ngIf="course.free_places==0" class="progress-bar pb-danger"
                  style="width: 100%;">{{globalCnstns.K_COURSE_DTL_COMPLETE_STR}}</div>
                </div>
              </div>
            </div>
            <p class="card-text">
              {{(course.short_description.length>350)? (course.short_description | slice:0:350)+'...':(course.short_description)}}
            </p>
            <div class="row">
              <div class="col-md-3 pl-0">
                <p class="card-text">
                  <small class="text-muted">
                    {{globalCnstns.K_COURSE_IMPART_STR}} {{course.impart}}
                  </small>
                </p>
              </div>
              <div class="col-md-5 pl-0">
                <p class="card-text">
                  <small class="text-muted">
                    {{globalCnstns.K_COURSE_ADDRESS_STR}} {{course.address}}
                  </small>
                </p>
              </div>
              <div class="col-md-4">
                <button *ngIf="course.free_places!=0" (click)="onInscription()" class="courses-btn float-right">
                    {{globalCnstns.K_COURSE_DTL_INSCRIPTION_STR}}
                </button>
                <button *ngIf="course.free_places==0" (click)="onInscription()" class="courses-btn float-right not-allowed" disabled>
                    {{globalCnstns.K_COURSE_DTL_INSCRIPTION_STR}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="courses.length == 0" class="row text-center m-5">
    <div class="col">
      {{globalCnstns.K_COURSE_NO_DATA_STR}}
    </div>
  </div>
</div>
