<!-- Loading -->
<div id="preloader" *ngIf="!isLoaded">
  <div id="loader"></div>
</div>
<div *ngIf="!isLoaded" class="content-load">
  <p class="text-center"><small class="text-muted">Cargando...</small></p>
</div>

<!-- Content -->
<div  class="animated fadeInUp">
  <!-- Header -->
  <div class="row">
      <div class="header-section">
        <img src="../../assets/img/services-header.png" alt="">
      </div>
  </div>

  <!-- subheader -->
  <div class="row p-3" style="justify-content: center;">
    <div class="col-md-1-12">
      <p class="service-page-title text-center">¡Ven a vernos a nuestro centro!</p>
      <p class="service-page-subtitle text-center">Echa un vistazo a los servicios que ofrecemos y encuentra el que necesitas.</p>
    </div>
  </div>

  <!-- Separator -->
  <hr class="separator separator--dots" />

  <!-- Services -->
  <div class="service-content">
    <div class="container">
      <div class="row text-center">
        <div *ngFor="let service of services" class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4">
            <img [src]="path+service.image" alt="" class="img-fluid mb-3 img-thumbnail shadow-sm">
            <h5 class="service-title mb-0"><b>{{service.title}}</b></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
