/* Service CSS Style */

.header-section img {
  width: 100%;
}

.content-load p {
  color: #0095A6;
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  font-weight: bold;
  line-height: 1.2;
}

.service-load-space {
  margin-top: 1000px;
}

.service-content {
  padding: 20px;
  background-color: #f1f1f1;
}

.lnks-service-cssm {
  color: #0095A6;
  text-decoration: none;
  background-color: transparent;
}

.service-page-title {
  color: #0095A6;
  font-family: "Amatic SC", cursive;
  font-size: 2.5rem;
  font-weight: 400;
  font-weight: bold;
  line-height: 1.2;
}

.service-page-subtitle {
  color: #0095A6;
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.service-title {
  color: #0095A6;
}

.separator {
  margin-top: 1px;
  margin-bottom: 20px;
  border: 0;
}

.separator--line {
  border: 0;
  border-bottom: 5px solid #04C1C3;
  width: 0;
  -webkit-animation: separator-width 2s ease-out forwards;
          animation: separator-width 2s ease-out forwards;
}

@-webkit-keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.separator--dots {
  overflow: visible;
  border: 0;
  content: "";
  background-color: #04C1C3;
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: relative;
}

.separator--dots:before {
  content: "";
  background-color: #04C1C3;
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  left: -32px;
  -webkit-animation: dot-move-left 2s ease-out forwards;
          animation: dot-move-left 2s ease-out forwards;
}

.separator--dots:after {
  content: "";
  background-color: #04C1C3;
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  left: 32px;
  -webkit-animation: dot-move-right 2s ease-out forwards;
          animation: dot-move-right 2s ease-out forwards;
}

@-webkit-keyframes dot-move-right {
  0% {
    left: 0;
  }
  100% {
    left: 32px;
  }
}

@keyframes dot-move-right {
  0% {
    left: 0;
  }
  100% {
    left: 32px;
  }
}
@-webkit-keyframes dot-move-left {
  0% {
    left: 0;
  }
  100% {
    left: -32px;
  }
}
@keyframes dot-move-left {
  0% {
    left: 0;
  }
  100% {
    left: -32px;
  }
}

.separator--dotter {
  border: 0;
  border-bottom: 5px dotted #04C1C3;
  width: 0;
  -webkit-animation: separator-width 2.5s ease-out forwards;
          animation: separator-width 2.5s ease-out forwards;
}
