<!-- Upper bar -->
<div class="upper-bar animated fadeInDown">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <i class="fas fa-phone-alt"></i> Contactanos al 640 195 160 ó 664 535 460
      </div>
      <div class="col-sm text-right">
        Redes sociales: <a href="https://es-es.facebook.com/" class="lnks-facebook" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
        | <a href="https://www.youtube.com/" class="lnks-youtube" title="YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
        | <a href="https://www.instagram.com/?hl=es" class="lnks-instagram" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a> |
        <a [routerLink]="['login']"><span class="login">Acceder</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End upper bar -->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light animated fadeInUp sticky-top">
  <a class="navbar-brand" [routerLink]="['inicio']"><img src="../../assets/img/logoLarge.png" alt="" width="200"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item animated zoomIn">
        <a class="nav-link" [routerLink]="['inicio']">Inicio</a>
      </li>
      <li class="nav-item animated zoomIn">
        <a class="nav-link" [routerLink]="['servicios']">Servicios</a>
      </li>
      <li class="nav-item animated zoomIn">
        <a class="nav-link" [routerLink]="['servicios']">Nosotras</a>
      </li>
      <li class="nav-item animated zoomIn">
        <a class="nav-link" [routerLink]="['servicios']">Talleres</a>
      </li>
      <li class="nav-item animated zoomIn">
        <a class="nav-link" [routerLink]="['servicios']">Cursos</a>
      </li>
      <li class="nav-item animated zoomIn">
        <a class="nav-link" [routerLink]="['servicios']">Blog</a>
      </li>
      <li class="nav-item animated zoomIn">
        <a class="nav-link" [routerLink]="['servicios']">Contacto</a>
      </li>
    </ul>
  </div>
</nav>

  <!-- Menu animado (test) -->
  <!-- <nav>
    <div class="hamburger" id="hamb">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="nav-links">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Projects</a></li>
    </ul>
  </nav> -->
