<!-- Upper bar -->
<div class="upper-bar animated fadeInDown">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm" *ngIf="hasPhones">
        <i class="fas fa-phone-alt"></i>
        {{phonesStr}}
      </div>
      <div class="col-sm text-right" *ngIf="hasSocialLinks">
        {{globalCnstns.K_NAV_SOCIAL_LINKS_STR}}
        <a [href]="informationObj.home_fcbk" *ngIf="hasFbk" class="lnks-facebook" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a [href]="informationObj.home_ytube" *ngIf="hasYtb" class="lnks-youtube" title="YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
        <a [href]="informationObj.home_insta" *ngIf="hasItg" class="lnks-instagram" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light animated fadeInUp sticky-top">
  <a class="navbar-brand" [routerLink]="['inicio']"><img [src]="assetsImg+'logoLarge.png'" alt="" width="200"></a>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse"
          (click)="toggleNavbar()"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end"
       id="navbarSupportedContent"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav">
      <li class="nav-item animated zoomIn">
        <a class="nav-link" (click)="toggleNavbar()" [routerLink]="['inicio']" routerLinkActive="active">{{globalCnstns.K_HOME_STR}}</a>
      </li>
      <li class="nav-item animated zoomIn">
        <a class="nav-link" (click)="toggleNavbar()" [routerLink]="['servicios']" routerLinkActive="active">{{globalCnstns.K_SERVICE_STR}}</a>
      </li>
      <li class="nav-item animated zoomIn">
        <a class="nav-link" (click)="toggleNavbar()" [routerLink]="['nosotras']" routerLinkActive="active">{{globalCnstns.K_ABOUT_STR}}</a>
      </li>
      <li class="nav-item animated zoomIn">
        <a class="nav-link" (click)="toggleNavbar()" [routerLink]="['talleres']" routerLinkActive="active">{{globalCnstns.K_WORKSHOP_STR}}</a>
      </li>
      <li class="nav-item animated zoomIn">
        <a class="nav-link" (click)="toggleNavbar()" [routerLink]="['cursos']" routerLinkActive="active">{{globalCnstns.K_COURSES_STR}}</a>
      </li>
      <li class="nav-item animated zoomIn">
        <a class="nav-link" (click)="toggleNavbar()" [routerLink]="['contacto']" routerLinkActive="active">{{globalCnstns.K_CONTACT_STR}}</a>
      </li>
    </ul>
  </div>
</nav>
