/* Navigation CSS Style */

ul, li {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}

.upper-bar {
  background-color: #0e94a0;
  color: #FFF;
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
}

.upper-bar span {
  color: #add5dd;
}

.upper-bar .login {
  display: inline-block;
  border: 1px solid #add5dd;
  padding: 2px 10px;
  margin-left: 10px;
}

.lnks-facebook {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.lnks-youtube {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  margin-left: 5px;
}

.lnks-instagram {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  margin-left: 5px;
}

.lnks-facebook:hover {
  color: #3b5998;
  text-decoration: none;
  background-color: transparent;
}

.lnks-youtube:hover {
  color: #c4302b;
  text-decoration: none;
  background-color: transparent;
}

.lnks-instagram:hover {
  color: #d6249f;
  text-decoration: none;
  background-color: transparent;
}
