/* Footer CSS Style */

.footer-bg-color {
  background-color: #0e94a0;
  color: #ffffff;
  background-image: url(src\assets\img\girls3_drw_sm_o20.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: contain;
}

@media (min-width: 768px) {
  .footer-bg-color {
    background-color: #0e94a0;
    color: #ffffff;
    background-image: url(src\assets\img\girls3_drw_sm_o20.png);
    background-repeat: no-repeat;
    background-position-x: right;
  }
}

.footer-margin-icon {
  margin-right: 1rem;
}

.lnks-footer {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.lnks-footer:hover {
  color: #add5dd;
  text-decoration: none;
  background-color: transparent;
}

img{
display:block;
margin:auto;
}

.font-weight {
  font-weight: 700 !important;
}

.footer-icon-color {
  color: #FF5959;
}
