<!-- Footer -->
<footer class="cssm-footer-color pt-4 animated fadeInUp">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <!-- <h6 class="text-uppercase mb-4 font-weight-bold">Centro Sanitario SantaMaría</h6> -->
          <img src="../../assets/img/logoIcon.png" alt="" class="center" width="180">
          <p class="text-center text-uppercase mb-4 font-weight">Centro Sanitario SantaMaría</p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Menú</h6>
          <p>
            <a [routerLink]="['talleres']" class="lnks-footer-cssm">Talleres</a>
          </p>
          <p>
            <a [routerLink]="['nosotras']" class="lnks-footer-cssm">Quiénes somos</a>
          </p>
          <p>
            <a [routerLink]="['servicios']" class="lnks-footer-cssm">Servicios</a>
          </p>
          <p>
            <a href="#!" class="lnks-footer-cssm">Blog</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Enlaces</h6>
          <p>
            <a href="#" class="lnks-footer-cssm">Acceder</a>
          </p>
          <p>
            <a [routerLink]="['contacto']" class="lnks-footer-cssm">Contacto</a>
          </p>
          <p>
            <a href="#" class="lnks-footer-cssm">Privacidad y aviso legal</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
          <p>
             <i class="fas fa-home margin-icon"></i> Calle Aurora, 18, El Puerto de Santa María (Cádiz)
          </p>
          <p>
             <i class="fas fa-envelope-open-text margin-icon"></i> info@cs-santamaria.es
          </p>
          <p>
             <i class="fas fa-phone-alt margin-icon"></i> +34 640 195 160
          </p>
          <p>
             <i class="fas fa-clock"></i> Lunes - Viernes de 9:00-14:00 / 17:30-20:30
          </p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">

          <!--Copyright-->
          <p class="text-center text-md-left">©2019
            <strong> centrosanitariosantamaria.es</strong>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">

              </li>
              <li class="list-inline-item">

              </li>
              <li class="list-inline-item">

              </li>
              <li class="list-inline-item">

              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->
